<div class="table table-responsive">
  <table class="table table-bordered shadow table-hover">
    <thead class="thead-dark">
      <tr><th>Event Name</th><th>Event Organiser</th><th>Event Date</th></tr>
    </thead>
    <tbody>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
      <tr><td>Galgotias Unifest</td><td>Student Council</td><td>8th March 2019</td></tr>
    </tbody>
  </table>
</div>