img {
    max-width: 75vw;
    border-radius: 45px;
    margin-bottom: 1rem;
}
ul {
    list-style: none;
    padding-left: 0;
}

h2 {
    font-weight: 700;
}

h4 {
    letter-spacing: 14px;
}
p {
    margin-bottom: 0;
}
.muter {
    color: #636363;
}