<div class="card text-white shadow my-4 mx-auto">
  <img width="500px" src="assets/events/sight-seeing.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Event 1</h5>
    <p class="card-text">Sint mollit consequat ex Lorem nulla do. Aliquip deserunt tempor excepteur laboris pariatur ut velit.</p>
    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
  </div>
</div>
<div class="card text-white shadow my-4 mx-auto">
  <img width="500px" src="assets/events/sight-seeing.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Event 2</h5>
    <p class="card-text">Ullamco consequat aliquip deserunt laboris tempor pariatur mollit ex qui irure nulla eu.</p>
    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
  </div>
</div>
<div class="card text-white shadow my-4 mx-auto">
  <img width="500px" src="assets/events/sight-seeing.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Event 5</h5>
    <p class="card-text">Laborum enim ea id labore quis irure.</p>
    <!-- <p class="card-text">Last updated 3 mins ago</p> -->
  </div>
</div>
